<div class="details_wrap">

    <div class="filters">
        <div class="month">February <span>
                < &nbsp; &nbsp; </span> <span>></span></div>
                
        <div class="search_wrap"> <img class="search" src="../../../assets/img/search.png" alt="">
            <div class="month_filter"><select name="" id="">
                    <option value="Jan">January</option>
                    <option value="Feb">Feburaury</option>
                    <option value="Mar">March</option>
                    <option value="Apr">April</option>
                    <option value="May">May</option>
                    <option value="Jun">June</option>
                    <option value="Jul">July</option>
                    <option value="Aug">August</option>
                    <option value="Sep">September</option>
                    <option value="Oct">October</option>
                    <option value="Nov">November</option>
                    <option value="Dec">December</option>

                </select></div>
        </div>
    </div>
    <div class="toolbox">
        <!--   <button (click)="updateFirstItem()">Update first item</button>
      <button (click)="updateFirstRow()">Update first row</button>
      <button (click)="scrollToCurrentTime()">Scroll to current time</button>
      <button (click)="clearSelection()">Clear selection</button> -->
    </div>
    <div class="gstc-wrapper" #gstcElement></div>
</div>