.root{
    display: flex;
    height: 90vh;
    background: #ffffff;
    border-radius: 20px;
    app-side-nav{
        box-sizing: content-box;
        width: 20%;
        background-color: hsl(0, 0%, 99%);
        padding: 4%;
        padding-top: 2%;
        border-radius: 20px 0px 0px 20px;
        transition: width 0.8s ease-in-out;
    }
    app-side-nav.hide{
        width: 5%;
        padding-right: 0;
        transition: width 0.8s ease-in-out;
    }
    .content_wrap{
        width: -webkit-fill-available;
        padding: 4%;
        padding-top: 2%;
        box-sizing: border-box;
    }
}