@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: 'InterBlack';
  src: url(./fonts/Inter-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterBold';
  src: url(./fonts/Inter-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterExtraBold';
  src: url(./fonts/Inter-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterExtraLight';
  src: url(./fonts/Inter-ExtraLight.ttf);
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'InterLight';
  src: url(./fonts/Inter-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterMedium';
  src: url(./fonts/Inter-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'InterRegular';
  src: url(./fonts/Inter-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'InterSemiBold';
  src: url(./fonts/Inter-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterThin';
  src: url(./fonts/Inter-Thin.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Museo';
    src: url(./fonts/Museo_Slab_900.otf);
    font-weight: normal;
    font-style: normal;
  }