<div>
    <div class="content_wrap">
        <div *ngIf="displayLogo" class="logo"><img  src="../../../assets/img/logo.svg" alt="">
            <span class="bold_text">team</span><span   class="thin_text">apt</span>
    </div>
        <div class="pg_title">{{page}} <span>&gt;</span></div>
        <div class="grey_text">GSE Banking App</div>
        <div class="right_icons">
            <div class="wrap">
                <img src="../../../assets/img/message.png" alt="">
                <img src="../../../assets/img/bell.png" alt="">
                <div class="h_line"></div>
                <div class="spiral" style="background-image: url('../../../assets/img/spiral-galaxy.png');"></div>
                <div class="u_name">RonasIT</div>
                <img class="down_arr" src="../../../assets/img/arrow_down.png" alt="">
            </div>
        </div>
    </div>
    <div class="lower_sec">
        <div class="det">
            <div class="header">GSE Banking App</div>
            <div><label for="file">56%</label>
                <progress id="file" value="56" max="100"> 56% </progress>
            </div>
        </div>
        <div class="invite"><div class="i_text">&#43; invite</div></div>
        <div class="avatar_wrap">
            <div class="avatar" style="background-image: url(../../../assets/img/avatar/beard.png);"></div>
            <div class="avatar" style="background-image: url(../../../assets/img/avatar/hacker.png);"></div>
            <div class="avatar" style="background-image: url(../../../assets/img/avatar/woman.png);"></div>
            <div class="avatar no"><p>&#43; 15</p></div>
        </div>
    </div>
</div>